In [2]:
#extract Details from Database
import sqlite3
import cv2
import pandas as pd
import numpy as np

In [3]:

conn = sqlite3.connect('E:/House-of-Hackers/Criminal_Database.db')
df = pd.read_sql_query("SELECT * from suspect", conn)

In [8]:
A = df.iloc[1]

In [9]:
A['name']

'Nitin Roy'

In [4]:
df.head()

,criminal_id,fir_no,name,number,mail,address,dob,picture
0,1,1534,Dev,8963002842,dev@gmail.com,"Jodhpur, Rajasthan",02/07/2001,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
1,3,1190,Nitin Roy,8902795016,nitin_roy@gmail.com,"Jaipur, India",03/06/2002,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x00...
2,4,1989,Gopika Varsini,7854218955,Gopika@gmail.com,Andhra Pradesh,06/04/2002,b'\xff\xd8\xff\xe1\x16\tExif\x00\x00MM\x00*\x0...

In [5]:
df.columns

Index(['criminal_id', 'fir_no', 'name', 'number', 'mail', 'address', 'dob',
       'picture'],
      dtype='object')

In [6]:
# run a loop and extract the images from the database
for i in range(0, len(df)):
    img = df['picture'][i]
    print(df['name'][i])
    img = np.fromstring(img, np.uint8)
    img = cv2.imdecode(img, cv2.IMREAD_COLOR)
    cv2.imwrite('E:/House-of-Hackers/'+str(i)+'.jpg', img)

Dev
Nitin Roy

C:\Users\ASUS\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:5: DeprecationWarning: The binary mode of fromstring is deprecated, as it behaves surprisingly on unicode inputs. Use frombuffer instead
  """

In [55]:
#check that dataframe is empty or not
def check_empty(result):
    if result.empty:
        return True
    else:
        return False

In [58]:
# get the details of the suspect using number
number = int(1534)
# print(type(number))
result = df[df['fir_no'] == number]
print(check_empty(result))
fir_no = result['fir_no'].values[0]
name = result['name'].values[0]
number = result['number'].values[0]
mail = result['mail'].values[0]
age = result['dob'].values[0]
address = result['address'].values[0]
pic = result['picture'].values[0]
print(fir_no, name, number, mail, age, address)

False
1534 Dev 8963002842 dev@gmail.com 02/07/2001 Jodhpur, Rajasthan